<style type="text/css">
input, textarea {
  width: 500px;
}
select {
  width: auto;
}
input#hours {
  width: 50px;
}
input#payment, input#startDate {
  width: 100px;
}
/*select#type, select#owner {
  width: 300px;
}*/
td.vError {
  color: red;
  padding-left: 20px;
  padding-top: 7px;
}
</style>

<div style="float: right;">
  <h3>Podgląd</h3>
  <formtable formdata="formData" showarea="true"></formtable>
</div>

<div>
<form name="form" class="form-horizontal">
  <formfield2 prop="area" label="Obszar tematyczny:">
    <select id="area" name="area" data-ng-model="formData.area" data-ng-required="true" data-ng-options="s.name as s.name group by s.group for s in dictionaries.sAreas"></select>
  </formfield2>
  <formfield prop="name" label="Nazwa formy:" ng-model="formData.name"></formfield>
  <formfield2 prop="scope" label="Zakres szkolenia:">
    <textarea id="scope" name="fscope" rows="7" data-ng-model="formData.scope"></textarea>
  </formfield2>
  <formfield prop="target" label="Adresaci:" ng-model="formData.target"></formfield>
  <formfield2 prop="type" label="Forma zajęć: ">
    <select id="type" name="type" data-ng-model="formData.type" data-ng-required="true" data-ng-options="s for s in dictionaries.sTypes"></select>
  </formfield2>
  <formfield prop="hours" label="Liczba godzin:" ng-model="formData.hours"></formfield>
  <formfield prop="startDate" label="Termin realizacji:" ng-model="formData.startDate"></formfield>
  <formfield2 prop="owner" label="Kierownik szkolenia: ">
    <select id="owner" name="owner" data-ng-model="formData.owner" data-ng-required="true" data-ng-options="s for s in dictionaries.sOwners"></select>
  </formfield2>
  <formfield prop="teacher" label="Prowadzący:" ng-model="formData.teacher"></formfield>
  <formfield prop="payment" label="Odpłatność:" ng-model="formData.payment"></formfield>
  <formfield2 prop="addInfo" label="Informacje dodatkowe: ">
    <textarea id="addInfo" name="addInfo" rows="7" data-ng-model="formData.addInfo"></textarea>
  </formfield2>
  
  
  <br/>
  <button type="submit" class="btn btn-primary btn-large">Wyślij</button>
  
  <a href="/forms_list">Zobacz już wprowadzone formy</a>
</form>
</div>

