
<div data-ng-show="showdatails">
  Obszar: {{formdata.area}}
</div>
<!-- border="1" cellspacing="0" cellpadding="0"  -->
<table class="forms table table-stripped table-hover table-bordered table-condensed"><tbody>
  <tr class="aCenter">
    <td>FD-{{formdata.id}}</td>
    <td colspan="3" class="bold italic">{{formdata.name}}</td>
  </tr>
  <tr class="aCenter italic">
    <td class="bold">{{formdata.type}}</td>
    <td>Liczba godzin dyd.: {{formdata.hours}}</td>
    <td>Termin: {{formdata.startDate | date:'shortDate' }} r.</td>
    <td>{{formdata.payment | currency:"zł"}}</td><!-- formatowanie liczby -->
  </tr>
  <tr>
    <td>Zakres szkolenia</td>
    <td colspan="3" data-ng-bind-html-unsafe="formdata.scope | addBRs"></td>
  </tr>
  <tr>
    <td>Adresaci</td>
    <td colspan="3">{{formdata.target}}</td>
  </tr>
  <tr>
    <td>Kierownik/ Prowadzący</td>
    <td colspan="3">{{formdata.owner}} {{formdata.teacher &amp;&amp; '/' || ''}} {{formdata.teacher}}</td>
  </tr>
  <tr>
    <td>Uwagi</td>
    <td colspan="3" data-ng-bind-html-unsafe="formdata.addInfo | addBRs"></td>
  </tr>
</tbody></table>

<div data-ng-show="showdatails" class="formIndex" style="">
  <span>Indeks:</span> 
  <div class="content">
    <div data-ng-hide="formdata.index.length">pusty</div>
    <div data-ng-repeat="i in formdata.index">
      {{i}}
    </div>
  </div>
</div>
