<div class="control-group">
  <label class="control-label" for="{{prop}}">{{label}}</label>
  <div class="controls">
  <input type="text" id="{{prop}}" name="{{prop}}" data-ng-model="data" data-ng-trim="true" required data-ng-maxlength="max"/>
  <span class="vErr" data-ng-show="!eForm[prop].$pristine &amp;&amp; eForm[prop].$error.required">Wypłenienie pola jest wymagane</span>
  <span class="vErr" data-ng-show="eForm[prop].$error.maxlength">Pole może mieć maksymalnie {{max}} znaków</span>
  </div>
</div>