<div class="btn-toolbar">
  <div class="btn-group">
    <a class="btn btn-large" href="#/new">New</a>
  </div>
  <div class="btn-group">
    <a class="btn btn-large" href="#/edit/{{formId}}" data-ng-class="{disabled: index < 0}">Edit</a>
  </div>
  <div class="btn-group">
    <a class="btn btn-large btn-danger" data-ng-click="delete()" data-ng-class="{disabled: index < 0}">Delete</a>
  </div>
  <div class="btn-group">
    <a class="btn btn-large" data-ng-click="toggleArea()">{{showArea &amp;&amp; 'Ukryj' || "Pokaż"}} obszar</a>
  </div>
</div>

<div class="formsContainer">
  
  <div data-ng-repeat="f in forms" data-ng-click="select($index)" data-ng-class="{'info': $index == index}">
    <div class="formtable" data-formdata="f" data-showarea="showArea"></div>
  </div>
</div>


