body {
  padding: 20px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}


table.table-bordered tr td {
  border-top: 1px solid #DDDDDD;
}

.form-horizontal .control-group {
	margin-bottom: 5px;
}
.form-horizontal .control-group:after {
  clear: none;
}

.pre {
  white-space: pre
}

table.forms {
	width: 800px;
}
table.forms tr td:FIRST-CHILD {
  width: 10%;
  white-space:nowrap;
}