body {
  padding: 20px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}


table.table-bordered tr td {
  border-top: 1px solid #DDDDDD;
}

.form-horizontal .control-group {
	margin-bottom: 5px;
}
.form-horizontal .control-group:after {
  clear: none;
}

.pre {
  white-space: pre
}

table.forms {
	width: 800px;
}
table.forms tr td:FIRST-CHILD {
  width: 10%;
  white-space:nowrap;
}

.vErr {
	color: red;
}
td.vErr {
  padding-left: 20px;
  padding-top: 7px;
}

input.ng-invalid, textarea.ng-invalid, select.ng-invalid {
	color: red;
}
select.ng-invalid option, select.ng-invalid optgroup {
	color: #555555;
}
input.ng-invalid:focus, textarea.ng-invalid:focus, select.ng-invalid:focus {
  border-color: #ee5f5b;
  border-color: #e9322d;
  -webkit-box-shadow: 0 0 6px #f8b9b7;
     -moz-box-shadow: 0 0 6px #f8b9b7;
          box-shadow: 0 0 6px #f8b9b7;
}
